head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=yes, viewport-fit=cover, user-scalable=no')
    meta(name='description', content='Arcade IC Card Management')
    meta(name='author', content='Yukimi Kazari')
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-title" content="OCI")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(content="OCI" property="og:title")
    meta(content="Arcade IC Card Management" property="og:description")
    meta(content=`${config.arcade_name} OCI` property="og:site_name")
    link(rel='apple-touch-icon' sizes='57x57' href='/static/img/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='/static/img/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/static/img/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='/static/img/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='/static/img/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='/static/img/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='/static/img/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='/static/img/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='/static/img/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='/static/img/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/static/img/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='/static/img/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/static/img/favicon-16x16.png')
    link(rel='manifest' href='/static/manifest.json')
    meta(name='msapplication-TileColor' content='#002fc9')
    meta(name='msapplication-TileImage' content='/static/img/ms-icon-144x144.png')
    meta(name='theme-color' content='#002fc9')


    title #{config.arcade_name} OCI

    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/fontawesome.min.css')
    link(rel='stylesheet', href='/static/css/all.min.css')
    link(rel='stylesheet', href='/static/css/custom.css')
    script(src='/static/js/jquery.min.js')
    script(src='/static/js/popper.min.js')
    script(src='/static/js/bootstrap.min.js')
    script(src='/static/js/sideloader.js')
body.bg-dark.text-white
    div.background
    div.background-overlay
    div.container.text-center
        h1.mt-5 #{config.arcade_name}
        div.btn-group-vertical.mt-5.col-lg-7.rounded.center-menu
            div.w-100
                .form-group
                    select#posTerminal.form-control.form-control-lg(name='posTerminal')
                        each machine in pos_terminals
                            option(value=machine[0]) #{(machine[1].name) ? machine[1].name : machine[0]}#{(machine[1].location) ? ' (' + machine[1].location + ')' : ''}
            div.btn-group.btn-group-lg.flex-column.flex-sm-row.bg-success.rounded
                a.btn(href='#', data-toggle='modal', data-target='#newCardModal').py-4.col.text-white
                    div.d-flex.justify-content-center
                        div.d-flex.align-items-center.justify-content-center.pr-2
                            i.fas.fa-credit-card
                        span Register
                a.btn(href='#', data-toggle='modal', data-target='#depositModal').py-4.col.text-white
                    div.d-flex.justify-content-center
                        div.d-flex.align-items-center.justify-content-center.pr-2
                            i.fas.fa-coins
                        span Deposit
            div.btn-group.btn-group-lg.mt-2
                a.btn.btn-info.rounded-left.col.disabled(href='#')
                    div.d-flex.justify-content-center
                        div.d-flex.align-items-center.justify-content-center.pr-2
                            i.fas.fa-list-alt
                        span Bookkeeping
                button.btn.dropdown-toggle.btn-warning.rounded-right.col-sm-3.col-5(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    div.d-flex.justify-content-center
                        div.d-flex.align-items-center.justify-content-center.pr-2
                            i.fas.fa-cog
                        span Tools
                .dropdown-menu
                    .dropdown-header Manage Customers
                    .dropdown-divider
                    a.dropdown-item(href='#', data-toggle='modal', data-target='#findUserModal') Get/Update
                    a.dropdown-item(href='#' onclick='transferCard(); return false;') Card Transfer
                    if (config.show_delete_actions)
                        a.dropdown-item.text-danger(href='#' onclick='cardAction("/delete/scan/card"); return false;') Delete Card
                        a.dropdown-item.text-danger(href='#' onclick='cardAction("/delete/scan/user"); return false;') Delete User
                    .dropdown-header Arcade Management
                    .dropdown-divider
                    a.dropdown-item(href='#' onclick='getFreePlay(); return false;') Free Play
        div.w-100.mt-3.row
            each machine in machine_dispense
                .col-xl-4.col-md-6.mb-3
                    .card.text-white.bg-dark
                        .row.card-header.align-items-center.p-2.m-0.d-flex(class=`${(machine.time >= (Date.now().valueOf() - 60 * 60000)) ? 'bg-success' : 'bg-transparent text-dark'}`)
                            .col.small.text-white.d-flex.p-0.align-items-center
                                i.fas.fa-gamepad(style="padding-right: 0.5em")
                                span #{(machine.info && machine.info.name) ? machine.info.name : machine.id}
                            .col-auto.d-flex.p-0.align-items-center
                        .card-body.position-relative.w-100.h-100.justify-content-start(style=`padding: 0.7em;`)
                            div
                                i.fas.fa-user.pr-2
                                span #{(machine.last.user_info && machine.last.user_info.name) ? machine.last.user_info.name : machine.last.user}
                            if (machine.last.user_b2b > 1)
                                div
                                    i.fas.fa-chart-pie.pr-2
                                    span.pr-1 #{machine.last.user_b2b}x (#{machine.last.user_total_time}) =
                                    if (db.credit_to_currency_rate)
                                        i.fas.fa-yen-sign.pr-1
                                    span #{(db.credit_to_currency_rate) ? machine.last.user_total_profit * db.credit_to_currency_rate : (machine.last.user_total_profit + 'Credit(s)')}
                            div.d-inline-flex.align-items-center
                                i.fas.fa-money-bill.pr-2
                                if (machine.last.free_play)
                                    div.badge.badge-success.text-gray-900
                                        span.font-weight-bold Free Play
                                else
                                    if (db.credit_to_currency_rate)
                                        i.fas.fa-yen-sign.pr-1
                                    span #{(db.credit_to_currency_rate) ? machine.last.cost * db.credit_to_currency_rate : (machine.last.cost.toString() + 'Credit(s)')}
                            div
                                i.fas.fa-clock-four.pr-2
                                span #{machine.last.time_pretty}

                        .card-footer.position-relative.w-100.h-100.bg-translucent.d-flex.justify-content-between.border-top-0(style=`padding: 0.7em;`)
                            div
                                i.fas.fa-users.pr-2
                                span #{machine.today.users.length}
                            if (machine.last.user_b2b > 1)
                            div
                                if (db.credit_to_currency_rate)
                                    i.fas.fa-yen-sign.pr-1
                                else
                                    i.fas.fa-coins
                                span #{(db.credit_to_currency_rate) ? machine.last.user_total_profit * db.credit_to_currency_rate : (machine.last.user_total_profit + 'Credit(s)')}

    div.modal#newCardModal(tabindex='-1' role='dialog')
        div.modal-dialog.text-dark
            div.modal-content
                div.modal-header.bg-success.text-white.py-2
                    h5.modal-title Register Customer
                    button.close(type='button', data-dismiss='modal')
                        span &times;
                div.modal-body
                    #registerAccordion
                        .form-group
                            label(for='initialBalance') Initial Balance:
                            input#initialBalance.form-control.form-control-lg(type='number', name='initialBalance', placeholder="0 Credits")
                        .card
                            #headerUserInfo.card-header
                                h5.mb-0
                                    button.p-0.btn.btn-link(data-toggle='collapse' data-target='#collapseUserInfo' aria-expanded='true' aria-controls='collapseUserInfo')
                                        div.d-flex.justify-content-center
                                            div.d-flex.align-items-center.justify-content-center.pr-2
                                                i.fas.fa-user-cog
                                            span Customer Info
                            #collapseUserInfo.collapse.show(aria-labelledby='headerUserInfo' data-parent='#registerAccordion')
                                .card-body
                                    .form-group
                                        label(for='userID') Customer ID:
                                        input#userID.form-control(type='text', name='cardName', placeholder="Leave blank for random")
                                    .form-group
                                        label(for='userName') Customer Name:
                                        input#userName.form-control(type='text', name='cardName', placeholder="Customer Name")
                                    .form-group
                                        label(for='userContact') Contact Info:
                                        input#userContact.form-control(type='text', name='cardName', placeholder="Name, Phone Number, Etc.")
                        .card
                            #headingTwo.card-header
                                h5.mb-0
                                    button.p-0.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                                        div.d-flex.justify-content-center
                                            div.d-flex.align-items-center.justify-content-center.pr-2
                                                i.fas.fa-credit-card
                                            span Card Info
                            #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#registerAccordion')
                                .card-body
                                    .form-group
                                        label(for='cardName') Serial Number:
                                        input#cardNum.form-control(type='text', name='cardName', placeholder="Leave blank to Scan")
                                    .form-group
                                        label(for='cardName') Card Name:
                                        input#cardName.form-control(type='text', name='cardName', placeholder="Friendly name for card")
                                    .form-group
                                        label(for='cardName') Contact Info:
                                        input#cardContact.form-control(type='text', name='cardName', placeholder="Name, Phone Number, Etc.")
                div.modal-footer
                    button.btn.btn-secondary(type='button' onclick='clearRegisterUser(); return false;') Cancel
                    button.btn.btn-primary(type='submit' onclick='registerUser(); return false;') Create
    div.modal#findUserModal(tabindex='-1' role='dialog')
        div.modal-dialog.text-dark
            div.modal-content
                div.modal-header.bg-info.text-white.py-2
                    h5.modal-title Select Customer
                    button.close(type='button', data-dismiss='modal')
                        span &times;
                div.modal-body
                    .form-group
                        label(for='findCustomerID') Customer ID:
                        input#findCustomerID.form-control(type='text', name='findCustomerID', placeholder="Leave blank to scan card")
                    .form-group
                        label(for='findCardNumber') Card Serial Number:
                        input#findCardNumber.form-control(type='text', name='findCardNumber', placeholder="Leave blank to Scan card")
                div.modal-footer
                    button.btn.btn-secondary(type='button' onclick='clearUser(); return false;') Cancel
                    button.btn.btn-primary(type='submit' onclick='getUser(); return false;') Lookup/Scan Card
    div.modal#showUserModel(tabindex='-1' role='dialog')
        div.modal-dialog.text-dark
            div.modal-content
                div.modal-header.text-white.py-2.bg-info
                    h5.modal-title Customer Info
                    button.close(type='button', data-dismiss='modal')
                        span &times;
                div#userDataDiv.modal-body

                div.modal-footer
                    button.btn.btn-secondary(type='button' onclick='addCardToUser(); return false;').mr-auto
                        i.fas.fa-plus.pr-2
                        span Card
                    button.btn.btn-secondary(type='button' onclick='clearUser(); return false;') Close
    div.modal#showFreePlayModel(tabindex='-1' role='dialog')
        div.modal-dialog.text-dark
            div.modal-content
                div.modal-header.text-white.py-2.bg-info
                    h5.modal-title Free Play Config
                    button.close(type='button', data-dismiss='modal')
                        span &times;
                div#freeplayDataDiv.modal-body

                div.modal-footer
                    button.btn.btn-danger.mr-auto(type='button' onclick='clearAllFreeplay(); return false;') Revoke All Customer(s) Free Play
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
    div.modal#depositModal(tabindex='-1' role='dialog')
        div.modal-dialog.text-dark
            div.modal-content
                div.modal-header.bg-success.text-white.py-2
                    h5.modal-title Deposit Credits
                    button.close(type='button', data-dismiss='modal')
                        span &times;
                div.modal-body
                    #depositAccordion
                        .form-group
                            label(for='initialBalance') Credits:
                            input#depositBalance.form-control.form-control-lg(type='number', name='depositBalance', placeholder="0 Credits")
                        .card
                            #headerDepositAdv.card-header
                                h5.mb-0
                                    button.p-0.btn.btn-link(data-toggle='collapse' data-target='#collapseCardInfo' aria-expanded='true' aria-controls='collapseCardInfo')
                                        div.d-flex.justify-content-center
                                            div.d-flex.align-items-center.justify-content-center.pr-2
                                                i.fas.fa-user-cog
                                            span Advanced
                            #collapseCardInfo.collapse(aria-labelledby='headerDepositAdv' data-parent='#depositAccordion')
                                .card-body
                                    p
                                        | Use this section to deposit to a specific user ID or card serial number without scanning
                                    .form-group
                                        label(for='cardName') User ID:
                                        input#depositUser.form-control(type='text', name='cardName', placeholder="Leave blank for random")
                                    .form-group
                                        label(for='cardName') Card S/N:
                                        input#depositCard.form-control(type='text', name='cardName', placeholder="Users Name")
                div.modal-footer
                    button.btn.btn-success(type='button' onclick='freePlayUser(); return false;').mr-auto Free Play
                    button.btn.btn-secondary(type='button' onclick='clearDepositCredits(); return false;') Cancel
                    button.btn.btn-primary(type='submit' onclick='depositCredits(); return false;') Create
    div.modal#waitForCardScanModal.bg-dark(tabindex='-1' role='dialog')
        div.modal-dialog.text-dark
            div.modal-content
                div.modal-body.align-items-center.d-flex.flex-column.text-white.bg-danger
                    div.d-flex.flex-row
                        i.fab.fa-5x.fa-nfc-symbol
                    div.d-flex.flex-row.mt-2
                        span Scan card now!
                    div.d-flex
                        button.btn.btn-secondary.mt-3(type='button' onclick='cancelRequest(); return false;') Cancel
