doctype html
head
    meta(charset='utf-8')
    title payPass Manager

body(style="overflow-x: hidden;")
    div
        div#appStatic
            link(rel='stylesheet', href=`${baseUrl}static/css/custom-seq.css`)
            style.
                .background-image:not(.overlay) {
                    background-image: url("!{baseUrl}ui_static/background.jpg");
                }
            script(src=`${baseUrl}static/js/sideloader.js`)
        div#appPanels

        div#appStaticPost
            div.modal#newCardModal(tabindex='-1' role='dialog')
                div.modal-dialog
                    div.modal-content
                        div.modal-header.bg-success.py-2
                            h5.modal-title Register Customer
                            button.close(type='button', data-dismiss='modal')
                                span &times;
                        div.modal-body
                            #registerAccordion
                                .form-group
                                    label(for='initialBalance') Initial Balance:
                                    input#initialBalance.form-control.form-control-lg(type='number', name='initialBalance', placeholder="0 Credits")
                                .card
                                    #headerUserInfo.card-header
                                        h5.mb-0
                                            button.p-0.btn.btn-link(data-toggle='collapse' data-target='#collapseUserInfo' aria-expanded='true' aria-controls='collapseUserInfo')
                                                div.d-flex.justify-content-center
                                                    div.d-flex.align-items-center.justify-content-center.pr-2
                                                        i.fas.fa-user-cog
                                                    span Customer Info
                                    #collapseUserInfo.collapse.show(aria-labelledby='headerUserInfo' data-parent='#registerAccordion')
                                        .card-body
                                            .form-group
                                                label(for='userID') Customer ID:
                                                input#userID.form-control(type='text', name='cardName', placeholder="Leave blank for random")
                                            .form-group
                                                label(for='userName') Customer Name:
                                                input#userName.form-control(type='text', name='cardName', placeholder="Customer Name")
                                            .form-group
                                                label(for='userContact') Contact Info:
                                                input#userContact.form-control(type='text', name='cardName', placeholder="Name, Phone Number, Etc.")
                                .card
                                    #headingTwo.card-header
                                        h5.mb-0
                                            button.p-0.btn.btn-link.collapsed(data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                                                div.d-flex.justify-content-center
                                                    div.d-flex.align-items-center.justify-content-center.pr-2
                                                        i.fas.fa-credit-card
                                                    span Card Info
                                    #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#registerAccordion')
                                        .card-body
                                            .form-group
                                                label(for='cardName') Serial Number:
                                                input#cardNum.form-control(type='text', name='cardName', placeholder="Leave blank to Scan")
                                            .form-group
                                                label(for='cardName') Card Name:
                                                input#cardName.form-control(type='text', name='cardName', placeholder="Friendly name for card")
                                            .form-group
                                                label(for='cardName') Contact Info:
                                                input#cardContact.form-control(type='text', name='cardName', placeholder="Name, Phone Number, Etc.")
                        div.modal-footer
                            button.btn.btn-secondary(type='button' onclick='clearRegisterUser(); return false;') Cancel
                            button.btn.btn-primary(type='submit' onclick='registerUser(); return false;') Create
            div.modal#findUserModal(tabindex='-1' role='dialog')
                div.modal-dialog
                    div.modal-content
                        div.modal-header.bg-info.py-2
                            h5.modal-title Select Customer
                            button.close(type='button', data-dismiss='modal')
                                span &times;
                        div.modal-body
                            .form-group
                                label(for='findCustomerID') Customer ID:
                                input#findCustomerID.form-control(type='text', name='findCustomerID', placeholder="Leave blank to scan card")
                            .form-group
                                label(for='findCardNumber') Card Serial Number:
                                input#findCardNumber.form-control(type='text', name='findCardNumber', placeholder="Leave blank to Scan card")
                        div.modal-footer
                            button.btn.btn-secondary(type='button' onclick='clearUser(); return false;') Cancel
                            button.btn.btn-primary(type='submit' onclick='getUser(); return false;') Lookup/Scan Card
            div.modal#showUserModel(tabindex='-1' role='dialog')
                div.modal-dialog
                    div.modal-content
                        div.modal-header.py-2.bg-info
                            h5.modal-title Customer Info
                            button.close(type='button', data-dismiss='modal')
                                span &times;
                        div#userDataDiv.modal-body

                        div.modal-footer
                            button.btn.btn-secondary(type='button' onclick='addCardToUser(); return false;').mr-auto
                                i.fas.fa-plus.pr-2
                                span Card
                            button.btn.btn-secondary(type='button' onclick='clearUser(); return false;') Close
            div.modal#showFreePlayModel(tabindex='-1' role='dialog')
                div.modal-dialog
                    div.modal-content
                        div.modal-header.py-2.bg-info
                            h5.modal-title Free Play Config
                            button.close(type='button', data-dismiss='modal')
                                span &times;
                        div#freeplayDataDiv.modal-body

                        div.modal-footer
                            button.btn.btn-danger.mr-auto(type='button' onclick='clearAllFreeplay(); return false;') Revoke All Customer(s) Free Play
                            button.btn.btn-secondary(type='button' data-dismiss='modal') Close
            div.modal#depositModal(tabindex='-1' role='dialog')
                div.modal-dialog
                    div.modal-content
                        div.modal-header.bg-success.py-2
                            h5.modal-title Deposit Credits
                            button.close(type='button', data-dismiss='modal')
                                span &times;
                        div.modal-body
                            #depositAccordion
                                .form-group
                                    label(for='initialBalance') Credits:
                                    input#depositBalance.form-control.form-control-lg(type='number', name='depositBalance', placeholder="0 Credits")
                                .card
                                    #headerDepositAdv.card-header
                                        h5.mb-0
                                            button.p-0.btn.btn-link(data-toggle='collapse' data-target='#collapseCardInfo' aria-expanded='true' aria-controls='collapseCardInfo')
                                                div.d-flex.justify-content-center
                                                    div.d-flex.align-items-center.justify-content-center.pr-2
                                                        i.fas.fa-user-cog
                                                    span Advanced
                                    #collapseCardInfo.collapse(aria-labelledby='headerDepositAdv' data-parent='#depositAccordion')
                                        .card-body
                                            p
                                                | Use this section to deposit to a specific user ID or card serial number without scanning
                                            .form-group
                                                label(for='cardName') User ID:
                                                input#depositUser.form-control(type='text', name='cardName', placeholder="Leave blank for random")
                                            .form-group
                                                label(for='cardName') Card S/N:
                                                input#depositCard.form-control(type='text', name='cardName', placeholder="Users Name")
                        div.modal-footer
                            button.btn.btn-success(type='button' onclick='freePlayUser(); return false;').mr-auto Free Play
                            button.btn.btn-secondary(type='button' onclick='clearDepositCredits(); return false;') Cancel
                            button.btn.btn-primary(type='submit' onclick='depositCredits(); return false;') Create
            div.modal#waitForCardScanModal(tabindex='-1' role='dialog')
                div.modal-dialog
                    div.modal-content
                        div.modal-body.align-items-center.d-flex.flex-column
                            div.d-flex.flex-row
                                i.fab.fa-5x.fa-nfc-symbol
                            div.d-flex.flex-row.mt-2
                                span Scan card now!
                            div.d-flex
                                button.btn.btn-secondary.mt-3(type='button' onclick='cancelRequest(); return false;') Cancel
        div#appTitleBar
            i.far.mr-2.fa-credit-card-front
            span.text-uppercase payPass Manager

        div#appNavigation
            a.bottomBtn.btn.btn-lg.btn-circle.red(href='#', data-toggle='modal', data-target='#newCardModal')
                i.fas.fa-credit-card
            a.bottomBtn.btn.btn-lg.btn-circle.red(href='#', data-toggle='modal', data-target='#depositModal')
                i.fas.fa-money-bills

        div#appMenuRow2Grid
            a.user-menu-item(href='#', data-toggle='modal', data-target='#newCardModal')
                i.fa-light.fa-credit-card.fa-fw
                | Register
            a.user-menu-item(href='#', data-toggle='modal', data-target='#depositModal')
                i.fa-light.fa-money-bills.fa-fw
                | Deposit
            a.user-menu-item(href='#')
                i.fa-light.fa-receipt.fa-fw
                | Books
            a.user-menu-item(href='#', data-toggle='modal', data-target='#findUserModal')
                i.fa-light.fa-money-check-dollar-pen.fa-fw
                | Lookup
            a.user-menu-item(href='#' onclick='transferCard(); return false;')
                i.fa-light.fa-cards-blank.fa-fw
                | Transfer
            a.user-menu-item(href='#' onclick='getFreePlay(); return false;')
                i.fa-light.fa-joystick.fa-fw
                | Manage




        div#appContent
            div
                .p-3
                    div.w-100
                        h1 #{config.arcade_name}
                    div.w-100
                        .form-group
                            select#posTerminal.form-control.form-control-lg(name='posTerminal')
                                each machine in pos_terminals
                                    option(value=machine[0]) #{(machine[1].name) ? machine[1].name : machine[0]}#{(machine[1].location) ? ' (' + machine[1].location + ')' : ''}
                    div.w-100.row.justify-content-center
                        each machine in machine_dispense
                            .col-xl-4.col-md-6.mb-3
                                .card.text-white.bg-translucent
                                    .row.card-header.align-items-center.p-2.m-0.d-flex(class=`${(machine.last.time >= (Date.now().valueOf() - 60 * 60000)) ? 'bg-success' : 'bg-transparent text-dark'}`)
                                        .col.small.text-white.d-flex.p-0.align-items-center
                                            i.fas.fa-joystick(style="padding-right: 0.5em")
                                            span #{(machine.info && machine.info.name) ? machine.info.name : machine.id}
                                        .col-auto.d-flex.p-0.align-items-center
                                    .card-body.position-relative.w-100.h-100(style=`padding: 0.7em;`)
                                        div
                                            i.fas.fa-user.pr-2
                                            span #{(machine.last.user_info && machine.last.user_info.name) ? machine.last.user_info.name : machine.last.user}
                                        if (machine.last.user_b2b > 1)
                                            div
                                                i.fas.fa-chart-pie-simple.pr-2
                                                span.pr-1 #{machine.last.user_b2b}x (#{machine.last.user_total_time}) =
                                                if (db.credit_to_currency_rate)
                                                    i.fas.fa-yen-sign.pr-1
                                                span #{(db.credit_to_currency_rate) ? machine.last.user_total_profit * db.credit_to_currency_rate : (machine.last.user_total_profit + 'Credit(s)')}
                                        div.d-inline-flex.align-items-center
                                            i.fas.fa-money-bill.pr-2
                                            if (machine.last.free_play)
                                                div.badge.badge-success.text-gray-900
                                                    span.font-weight-bold Free Play
                                            else
                                                if (db.credit_to_currency_rate)
                                                    i.fas.fa-yen-sign.pr-1
                                                span #{(db.credit_to_currency_rate) ? machine.last.cost * db.credit_to_currency_rate : (machine.last.cost.toString() + 'Credit(s)')}
                                        div
                                            i.fas.fa-clock-four.pr-2
                                            span #{machine.last.time_pretty}

                                    .card-footer.position-relative.w-100.h-100.bg-translucent.d-flex.justify-content-between.border-top-0(style=`padding: 0.7em;`)
                                        div
                                            i.fas.fa-users.pr-2
                                            span #{machine.today.users.length}
                                        div
                                            if (db.credit_to_currency_rate)
                                                i.fas.fa-yen-sign.pr-1
                                            else
                                                i.fas.fa-coins
                                            span #{(db.credit_to_currency_rate) ? machine.today.profit * db.credit_to_currency_rate : (machine.today.profit + 'Credit(s)')}


