#showUserAccordion
    .form-group
        label(for='walletBalance') Wallet Balance:
        input#walletBalance.form-control.form-control-lg(type='number', name='initialBalance', disabled, placeholder="0 Credits", value=credits)
    .card
        #headerUserInfoShow.card-header
            h5.mb-0
                button.p-0.btn.btn-link(data-toggle='collapse' data-target='#collapseUserInfoShow' aria-expanded='true' aria-controls='collapseUserInfoShow')
                    div.d-flex.justify-content-center
                        div.d-flex.align-items-center.justify-content-center.pr-2
                            i.fas.fa-user-cog
                        span Customer Info
        #collapseUserInfoShow.collapse.show(aria-labelledby='headerUserInfoShow' data-parent='#showUserAccordion')
            .card-body
                .form-group
                    label(for='userID') Customer ID:
                    input#userID.form-control(type='text', name='cardName', placeholder="CAN NOT BE BLANK", value=id, disabled)
                .form-group
                    label(for='userName') Customer Name:
                    input#userName.form-control(type='text', name='cardName', placeholder="Customer Name", value=name)
                .form-group
                    label(for='userContact') Contact Info:
                    input#userContact.form-control(type='text', name='cardName', placeholder="Name, Phone Number, Etc.", value=contact)
    for card in cards
        .card
            .card-header(id=`cardHeader#{card.serial}`)
                h5.mb-0
                    button.p-0.btn.btn-link.collapsed(data-toggle='collapse' data-target=`#cardData#{card.serial}` aria-expanded='false' aria-controls=`cardData#{card.serial}`)
                        div.d-flex.justify-content-center
                            div.d-flex.align-items-center.justify-content-center.pr-2
                                i.fas.fa-credit-card
                            span Card Info (#{card.serial})
                            a.btn.bg-danger(href="#" onclick=`deleteCard("${card.serial}")`)
                                div.d-flex.align-items-center.justify-content-center.pr-2
                                    i.fas.fa-trash
                                span Delete
            .collapse(id=`cardData#{card.serial}` aria-labelledby=`cardHeader#{card.serial}` data-parent='#showUserAccordion')
                .card-body
                    .form-group
                        label(for='cardName') Serial Number:
                        input#cardNum.form-control(type='text', name='cardName', placeholder="CAN NOT BE BLANK", value=card.serial, disabled)
                    .form-group
                        label(for='cardName') Card Name:
                        input#cardName.form-control(type='text', name='cardName', placeholder="Friendly name for card", value=card.name)
                    .form-group
                        label(for='cardName') Contact Info:
                        input#cardContact.form-control(type='text', name='cardName', placeholder="Name, Phone Number, Etc.", value=card.contact)
