#showUserAccordion
    div.d-flex
        .form-group.col.p-0
            label(for='showWalletBalance') Wallet Balance:
            input#showWalletBalance.form-control(type='number', name='showWalletBalance', disabled, placeholder="0 Credits", value=credits)
        .form-group.p-0.pl-3
            label(for='showFreePlayUser') Free Play:
            .btn-group-toggle(data-toggle='buttons')
                label.btn.btn-lg.w-100.freeplay(class=`${(free_play) ? 'active' : ''}`)
                    if (free_play)
                        input#showFreePlayUser(type='checkbox' checked='' autocomplete='off')
                    else
                        input#showFreePlayUser(type='checkbox' autocomplete='off')
                    i.fas.fa-circle-check
    div
        .form-group
            label(for='showUserID') Customer ID:
            input#showUserID.form-control(type='text', name='cardName', placeholder="CAN NOT BE BLANK", value=id, disabled)
        .form-group
            label(for='showUserName') Customer Name:
            input#showUserName.form-control(type='text', name='cardName', placeholder="Customer Name", value=name)
        .form-group
            label(for='showUserContact') Contact Info:
            input#showUserContact.form-control(type='text', name='cardName', placeholder="Name, Phone Number, Etc.", value=contact)
        .form-group
            label(for='showUserNotes') Notes:
            input#showUserNotes.form-control(type='textarea', name='userNotes', placeholder="")
    div.d-flex.mb-3
        a.btn.btn-primary.w-100(href='#' onclick='updateUserData(); return false;').d-flex.text-white.mr-2
            div.d-flex.align-items-center.justify-content-center
                i.fas.fa-floppy-disk
            span.pl-2.d-none.d-sm-inline Update
        if (locked)
            a.btn.bg-secondary(href="#" onclick=`generalAction("/set/user/lock/${id}/disable")`).d-flex.text-white.mr-2
                div.d-flex.align-items-center.justify-content-center
                    i.fas.fa-lock-open
                span.pl-2.d-none.d-sm-inline Unlock
        else
            a.btn.bg-warning(href="#" onclick=`generalAction("/set/user/lock/${id}/enable")`).d-flex.text-dark.mr-2
                div.d-flex.align-items-center.justify-content-center
                    i.fas.fa-lock
                span.pl-2.d-none.d-sm-inline Lock

        if (show_delete_actions)
            a.btn.bg-danger(href="#" onclick=`generalAction("/delete/user/${id}")`).d-flex.text-white
                div.d-flex.align-items-center.justify-content-center
                    i.fas.fa-trash
                span.pl-2.d-none.d-sm-inline Delete

    for card in cards
        .card
            .card-header(id=`cardHeader${card.serial}`)
                h5.mb-0.d-flex
                    button.p-0.btn.btn-link.collapsed.mr-auto(data-toggle='collapse' data-target=`#cardData${card.serial}` aria-expanded='false' aria-controls=`cardData${card.serial}`)
                        div.d-flex.justify-content-center.mr-auto
                            div.d-flex.align-items-center.justify-content-center
                                i.fas.fa-credit-card
                            span.pl-2.d-none.d-inline Card Info (#{card.serial})
                    if (card.locked)
                        a.btn.bg-secondary(href="#" onclick=`generalAction("/set/card/lock/${card.serial}/disable")`).d-flex.text-white.mr-2
                            div.d-flex.align-items-center.justify-content-center
                                i.fas.fa-lock-open
                            span.pl-2.d-none.d-sm-inline Unlock
                    else
                        a.btn.bg-warning(href="#" onclick=`generalAction("/set/card/lock/${card.serial}/enable")`).d-flex.text-dark.mr-2
                            div.d-flex.align-items-center.justify-content-center
                                i.fas.fa-lock
                            span.pl-2.d-none.d-sm-inline Lock
                    if (show_delete_actions)
                        a.btn.bg-danger(href="#" onclick=`generalAction("/delete/card/${card.serial}")`).d-flex.text-white
                            div.d-flex.align-items-center.justify-content-center
                                i.fas.fa-trash
                            span.pl-2.d-none.d-sm-inline Delete
            .collapse(id=`cardData${card.serial}` aria-labelledby=`cardHeader${card.serial}` data-parent='#showUserAccordion')
                .card-body
                    .form-group
                        label(for=`showCardNumber`) Serial Number:
                        input.form-control(id=`showCardNumber`, type='text', name='cardName', placeholder="CAN NOT BE BLANK", value=card.serial, disabled)
                    .form-group
                        label(for=`cardName${card.serial}`) Card Name:
                        input.form-control(id=`cardName${card.serial}`, type='text', name='cardName', placeholder="Friendly name for card", value=card.name)
                    .form-group
                        label(for=`cardContact${card.serial}`) Contact Info:
                        input.form-control(id=`cardContact${card.serial}`, type='text', name='cardName', placeholder="Name, Phone Number, Etc.", value=card.contact)

                    button.btn.btn-primary.w-100(type='submit' onclick=`updateCardData("${card.serial}"); return false;`) Update
